- if merge_trains_available?(@project) && can?(@current_user, :read_merge_train, @project)
  = render Pajamas::ButtonComponent.new(href: project_merge_trains_path(@project)) do
    = _("Merge trains")
